include LICENSE
include README.md
include requirements.txt
recursive-include userproperty *.html *.png *.gif *js *.css *jpg *jpeg *svg *py
recursive-include userproperty/static *
recursive-include userproperty/templates *
global-exclude *.orig *.pyc *.log *.swp
